# Jupyter checkpoints
.ipynb_checkpoints/

# Virtual env
venv/
env/
#Python files
__pycache__/
*.pyc

# OS files 
.DS_Store

#Directories from other courses that don't provide valuable information
Git/
Linux/
Python/
